@import url("https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic");
body {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  color: #6c7a89;
}
.borderLeft {
  border-left: 2px solid #eaefef;
}
.borderRight {
  border-right: 2px solid #eaefef;
}
.borderAll {
  border: 2px solid #eaefef;
}
.borderBottom {
  border-bottom: 2px solid #eaefef;
}
.bgLigten {
  background-color: #eaefef;
}
.noPadRight,
.last {
  padding-right: 0;
}
.noPadLeft {
  padding-left: 0;
}
.color1 {
  background-color: #a8ebc4;
  color: #6c7a89;
}
.color2 {
  background-color: #2ecc71;
  color: #ffffff;
}
.color3 {
  background-color: #d1f5e0;
  color: #6c7a89;
}
#searchHeader {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}
#headerMenu {
  background-color: #eaefef;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}
#headerMenu nav {
  background-color: transparent;
  border: none;
  box-shadow: none;
  background-image: none;
  margin-bottom: 0px;
  border-radius: 0px;
}
#headerMenu nav .navbar-nav > li > a {
  color: #6c7a89;
  position: relative;
  display: block;
}
#headerMenu nav .navbar-nav > .active > a {
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  color: #2ecc71;
}
#headerMenu .navbar-brand img {
  width: 40px;
  margin-top: -9px;
}
#pageContainer {
  margin-top: 5px;
}
.share-options {
  background: #f9fafb;
  padding: 0px;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, height 0.5s, padding .5s, visibility .5s;
  text-align: center;
}
.share-options .social-shre-btn {
  margin: auto 0px;
}
.share-options.active {
  opacity: 1;
  padding: 10px;
  height: 76px;
  visibility: visible;
  -webkit-transition: opacity 0.5s, height 0.5s, padding .5s, visibility .5s;
}
.filter-menu {
  text-align: right;
}
.filter-menu ul {
  margin-bottom: -1px;
}
.filter-menu ul > li {
  padding-bottom: 5px;
}
.filter-menu ul > li.active {
  border-bottom: 2px solid #2ecc71;
}
.filter-menu ul > li.active > a {
  color: #2ecc71;
}
.filter-menu ul > li.active > a .caret {
  display: inline-block;
}
.filter-menu ul > li > a {
  color: #6c7a89;
}
.filter-menu ul > li > a:active,
.filter-menu ul > li > a:hover {
  color: #2ecc71;
  text-decoration: none;
}
.filter-menu ul > li > a .caret {
  display: none;
}
#entries {
  font-size: 15px;
}
#entries .headerEntries {
  margin-bottom: 10px;
  border-bottom: 1px solid #c0c7ce;
}
#entries .headerEntries h5 {
  margin: 0px;
  font-weight: bold;
}
#entries .entries-container .entry {
  background-color: #eaefef;
  color: #6c7a89;
  margin-bottom: 5px;
}
#entries .entries-container .entry .typeContest {
  color: #2ecc71;
}
#entries .entries-container .entry .like-content {
  margin-top: 3%;
}
#entries .entries-container .entry .like-content .entry-likes {
  margin-right: 20px;
}
#entries .entries-container .entry .like-content .entry-likes i {
  color: #2ecc71;
}
#entries .entries-container .entry .like-content .entry-author {
  color: #2ecc71;
}
.empty-entries {
  margin: 50px auto 100px;
  text-align: center;
}
.empty-entries span {
  color: #9B9B9B;
  display: block;
}
.empty-entries span.text {
  font-size: 43px;
  margin-bottom: 5px;
}
.empty-entries span.subtext {
  font-size: 22px;
}
.empty-entries span.icon {
  margin-bottom: 45px;
}
/* FLASHES */
.layersign {
  background: #4B4B4B;
  padding: 30px 0;
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.layersign .container {
  position: relative;
}
.layersign .container div {
  margin: 0;
}
.layersign span {
  color: #ffffff;
  float: left;
  font-size: 22px;
  line-height: 38px;
  margin-right: 30px;
}
.layersign a.btn {
  border: 1px solid #c5e031;
  color: #c5e031 !important;
  margin-right: 20px;
  padding: 6px 30px;
  width: 130px;
}
.layersign a.btn:hover {
  background: #c5e031;
  color: #4B4B4B !important;
}
footer {
  margin-top: 70px;
  padding-bottom: 10px;
  background-color: #6c7a89;
  color: #ffffff;
}
footer ul,
footer p {
  margin-top: 12px;
}
footer ul.list-inline > li {
  padding-right: 10px;
  padding-left: 10px;
}
footer ul.list-inline > li > a,
footer ul.list-inline > li > a:hover {
  color: #ffffff;
  text-decoration: none;
}
footer .copy {
  text-align: center;
}
footer .redes {
  text-align: center;
}
footer .redes img {
  margin-left: 5px;
  margin-right: 5px;
}
@media screen and (min-width: 768px), screen and (min-width: 992px) {
  .toRight {
    float: right !important;
  }
  .container {
    max-width: 1035px;
  }
  #searchHeader {
    height: auto;
  }
  #searchHeader a {
    font-weight: 300;
    color: #6c7a89;
  }
  #searchHeader ul.signupLink li:last-child {
    border-left: thin solid #6c7a89;
    padding-left: 10px;
  }
  #headerMenu a.logo-link {
    color: #2ecc71;
    display: block;
    font-size: 24px;
    font-weight: normal;
    height: auto;
    margin-top: -62px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }
  #headerMenu a.logo-link:hover {
    text-decoration: none;
  }
  #headerMenu a.logo-link img {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 62px;
  }
  #headerMenu .navbar-collapse {
    padding: 25px 0px 18px 0px;
    width: 100%;
  }
  #headerMenu .navbar-nav {
    margin: 0;
    float: left;
  }
  #headerMenu .navbar-nav:last-child li {
    text-align: right;
  }
  #headerMenu .navbar-nav > li {
    width: 50%;
  }
  #headerMenu .navbar-nav.last li:last-child a {
    padding-right: 0px;
  }
  #headerMenu .navbar-nav.toLeft li:first-child a {
    padding-left: 0px;
  }
  #headerMenu .navbar-nav.toRight > li {
    float: right;
    clear: right;
  }
  #headerMenu .navbar-nav.toRight > li:last-child a {
    padding-right: 0px;
  }
  /* PAGE CONTAINER */
  #pageContainer {
    margin-top: 45px;
  }
  footer {
    margin-top: 70px;
    height: 113px;
    padding-top: 41px;
  }
  footer ul,
  footer p {
    margin-top: 12px;
  }
  footer ul.list-inline > li {
    padding-right: 10px;
    padding-left: 10px;
  }
  footer .redes {
    padding-right: 5px;
    text-align: right;
  }
}
