/* PROFILE */
#tabs-profile {
  border-bottom: 1px solid #c0c7ce;
  margin-bottom: 50px;
}
#persoanlCard {
  background-color: #dde0e4;
  padding: 5px;
  margin-bottom: 5px;
}
#persoanlCard img {
  margin-bottom: 10px;
}
.tab-content,
.entries-container {
  padding: 0px;
}
@media (min-width: 992px) {
  .tab-content,
  .entries-container {
    padding-right: 0px;
    padding-left: 15px;
  }
}
