@import 'variables.less';
/* PROFILE */

#tabs-profile{
	border-bottom: 1px solid lighten(@secondaryColor, 30%);
	margin-bottom: 50px;
}

#persoanlCard{
	background-color: lighten(@secondaryColor, 40%);
	padding: 5px;
	margin-bottom: 5px;
	img{
		margin-bottom: 10px;
	}
}

.tab-content,.entries-container{
  padding: 0px;
}


#profileInfo{
	div{
		margin-bottom: 15px;
		&.row{
			margin-bottom: 0px;
		}
	}
	fieldset{
		margin-bottom: 15px;
	}

}
.social-conect{
	ul{
		li{
			margin-right: 42px;
			text-align: center;
			&.facebook a{
				background: @facebook;
			}
			&.twitter a{
				background: @twitter;
			}
			&.linkedin a{
				background: @linkedin;
			}
			&.googlep a{
				background: @google;
			}
			a{
				border-radius: 0px;
				color: #FFFFFF;
				font-size: 15px;
				display: inline-block;
				line-height: 35px;
				margin-bottom: 5px;
				position: relative;
				text-align: center;
				width: 40px;
				height: 35px;
			}
			span{
				color: #aaa;
    		display: block;
			}
		}
	}
}
.academic-info{
	border-bottom: 1px dashed lighten(@secondaryColor, 30%);
}


@media (min-width: 992px) {
	.tab-content,.entries-container{
	  padding-right: 0px;
		padding-left: 15px;
	}
}
