<div class="head-complete-info">
  <h2>Forgot your password?</h2>
</div>
<div class="data-zone">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <div>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div><%= f.submit "Send instructions" %></div>
  <% end %>
</div>