<div class="container">
  <div class="introAbout col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="bgImg"></div>
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>We are Contagious Ideas</h1>
        <h1>Participate in contests. Share your vision. Take down your debt.</h1>
      </div>
    </div>
  </div>
</div>

<div class="stats-about col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="row">
    <div class="container">
      <div class="stat color1 col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div>
          <span>$5,000,000</span>
          <span>Paid</span>
        </div>
      </div>
      <div class="stat color2 col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div>
          <span>245</span>
          <span>PEOPLE HELPED</span>
        </div>
      </div>
      <div class="stat color3 col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div>
          <span>11,712</span>
          <span>Paid</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="worksmission col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="container">
    <h2>Our Community</h2>
    <p>Contagious Ideas is an online community that provides opportunities for you to participate in challenging and fun contests that showcase your creative talents and cultivated skills. All you need is an education to enter, and a little help from your friends. </p>
          <p>For these contests, Contagious Ideas will select the official winners—if that’s you, you’ll receive compensation to pay off the education that helped you win. If you also receive the most votes from the public, everyone can see that your work was some of the best.</p>
          <p>At Contagious Ideas, we celebrate creativity, quick wit and careful examination, while our members enjoy seeing work by like minds as well as work by those who think differently.</p>
  </div>
</div>
<div class="worksmission col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="container">
        <h2>Signing Up</h2>
        <p>To participate, simply sign up—it will only take a few seconds. You can then choose your contests, submit entries and promote your participation on Facebook, Twitter or any other social network. By getting more upvotes, you can build your network from within our community and beyond as well as increase your visibility on the site.</p>
      </div>
  </div>

  <div class="students col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="container">
        <div class="col-lg-12">
          <div class="row">
              <h2>Membership</h2>
              <div class="col-md-6">
                  <div class="members borderAll" style="height: 565px;">
                      <h3>Basic (Free)</h3>
                      <p>Post up to five entries each month in a variety of judged contests with topics and tasks ranging from graphic arts to micro-essays. We also post daily contests challenging you to submit captions, photos and other quick content. </p>
                      <a href="/users/sign_up" class="btn btn-primary">Get Started</a>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="members bgLigten" style="height: 565px;">
                      <h3>Premium </h3>
                      <p>For $10 a month, you can enter select premium contests for the chance to win larger cash prizes. As a premium member, you are also eligible to enter an unlimited number of contests.</p>
                      <a href="/users/premium" class="btn btn-primary">Get Started</a>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12 col-xs-12">
  <div class="container">
    <div id="carousel-testimonio" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators">
            <li data-target="#carousel-testimonio" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-testimonio" data-slide-to="1" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">

                <div class="container">
                  <img src="http://lorempixel.com/206/206/people/9/" class="img-circle img-thumbnail" draggable="false" >
                    <div class="carousel-caption">
                        <h1 class="name">Laura <small>MD ar Mayo CLinic</small></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus malesuada eros sit amet nulla pellentesque rutrum. Maecenas et luctus nulla. Suspendisse semper dui et volutpat porta. Sed condimentum a magna ac pulvinar.</p>
                    </div>
                </div>
            </div>
            <div class="item">

                <div class="container">
                  <img src="http://lorempixel.com/206/206/people/7/" class="img-circle img-thumbnail" draggable="false" >
                    <div class="carousel-caption">
                        <h1 class="name">Laura <small>MD ar Mayo CLinic</small></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus malesuada eros sit amet nulla pellentesque rutrum. Maecenas et luctus nulla. Suspendisse semper dui et volutpat porta. Sed condimentum a magna ac pulvinar.</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-testimonio" data-slide="prev"><i class="fa fa-long-arrow-left"></i></a>
        <a class="right carousel-control" href="#carousel-testimonio" data-slide="next"><i class="fa fa-long-arrow-right"></i></a>
    </div>
  </div>
</div>
