<div class="top-admin-content">
	<span class="title mt0">Contest (1-20 of 20)</span>
	<div class="search">
		<a href="#" class="btn btn-active">New</a>
	</div>
</div>

<div class="active-contest contest-admin">
	<div class="list">
		<div class="list-thumb">
			<div class="thumb-image">
				<img src="" alt="">
			</div>
			<div class="text">
				<a href="#">Lorem Ipsum Dolor Sit Amet</a>
				<span>$5,000 - 22 days left - 12 entries - 2,134 views</span>
			</div>
			<div class="actions-users">
				<span class="view">View</span>
				<span class="edit">Edit</span>
				<span class="pause">Pause</span>
				<span class="delete">Delete</span>
			</div>
			<div class="pause-state hide">
				<div>
					<span>Paused</span>
					<span class="resume">Resume</span>
				</div>
			</div>
		</div>
		<div class="list-thumb">
			<div class="thumb-image">
				<img src="" alt="">
			</div>
			<div class="text">
				<a href="#">Lorem Ipsum Dolor Sit Amet</a>
				<span>$5,000 - 22 days left - 12 entries - 2,134 views</span>
			</div>
			<div class="actions-users">
				<span class="view">View</span>
				<span class="edit">Edit</span>
				<span class="pause">Pause</span>
				<span class="delete">Delete</span>
			</div>
			<div class="pause-state hide">
				<div>
					<span>Paused</span>
					<span class="resume">Resume</span>
				</div>
			</div>
		</div>
		<div class="list-thumb">
			<div class="thumb-image">
				<img src="" alt="">
			</div>
			<div class="text">
				<a href="#">Lorem Ipsum Dolor Sit Amet</a>
				<span>$5,000 - 22 days left - 12 entries - 2,134 views</span>
			</div>
			<div class="actions-users">
				<span class="view">View</span>
				<span class="edit">Edit</span>
				<span class="pause">Pause</span>
				<span class="delete">Delete</span>
			</div>
			<div class="pause-state hide">
				<div>
					<span>Paused</span>
					<span class="resume">Resume</span>
				</div>
			</div>
		</div>
	</div>
</div>