<div class="list-type">
	<div class="container">
		<div class="col-lg-12">
			<div class="header">
				<span>Donations</span>
				<a href="#" class="btn btn-active"><span class="icn cruz"></span>New Donation</a>
			</div>
			<table class="donation-table">
				<thead>
					<th>Sent</th>
					<th>Status</th>
					<th>Amount</th>
					<th>Notes</th>
				</thead>
				<tbody>
					<tr>
						<td>15 Sep, 8:56 AM (2013)</td>
						<td><span class="tag green">ok</span></td>
						<td>$5,000</td>
						<td>A note from the admin</td>
					</tr>
					<tr>
						<td>15 Sep, 8:56 AM (2013)</td>
						<td><span class="tag red">Error</span></td>
						<td>$5,000</td>
						<td>A note from the admin</td>
					</tr>
					<tr>
						<td>15 Sep, 8:56 AM (2013)</td>
						<td><span class="tag grey">Processing</span></td>
						<td>$5,000</td>
						<td>A note from the admin</td>
					</tr>
					<tr>
						<td>15 Sep, 8:56 AM (2013)</td>
						<td><span class="tag red">Error</span></td>
						<td>$5,000</td>
						<td>A note from the admin</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>