<div class="container">
  <div class="introHelp col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="bgImg"></div>
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Help</h1>
      </div>
    </div>
  </div>
</div>

<div class="faqs col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="container">
      <h2>FAQ'S</h2>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq1"  class="accordion-toggle collapsed">
                What is Contagious Ideas?
              </a>
            </h4>
          </div>
          <div id="faq1" class="panel-collapse collapse ">
            <div class="panel-body">
              Contagious Ideas is a forum for you to share your creativity and win accolades as well as cash awards. Will your entry go viral? Enter contests and leverage social media to get your work seen by the world.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq2"  class="accordion-toggle collapsed">
                How long do contests take, and what's involved?
              </a>
            </h4>
          </div>
          <div id="faq2" class="panel-collapse collapse ">
            <div class="panel-body">
              Contests vary according to type, genre, areas of interest, as well as what is asked of you, the entrant. The duration of the contest generally reflects the amount of time and effort expected
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq3"  class="accordion-toggle collapsed">
                When I win, how do I claim my prize?
              </a>
            </h4>
          </div>
          <div id="faq3" class="panel-collapse collapse ">
            <div class="panel-body">
              If you win you will receive an emailed notification. Just click on the link provided, provide the requisite information, and we’ll do the rest!
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq4"  class="accordion-toggle collapsed">
                How I sponsor a contest?
              </a>
            </h4>
          </div>
          <div id="faq4" class="panel-collapse collapse ">
            <div class="panel-body">
              Contact us at <a href="mailto:support@contagiousideas.com?subject=feedback">support@contagiousideas.com</a> and we’ll help you get that in motion.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq5"  class="accordion-toggle collapsed">
                If my entry has the most up-votes in a contest am I the winner?
              </a>
            </h4>
          </div>
          <div id="faq5" class="panel-collapse collapse ">
            <div class="panel-body">
              No, having the most up-votes does not mean you have won the contest. It does however ensure increased visibility.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq6"  class="accordion-toggle collapsed">
                Who decides the individual contests' winner?
              </a>
            </h4>
          </div>
          <div id="faq6" class="panel-collapse collapse ">
            <div class="panel-body">
              The contests’ sponsors determine judges/judging for each individual contest.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq7"  class="accordion-toggle collapsed">
                Can I edit my entry after it's been published?
              </a>
            </h4>
          </div>
          <div id="faq7" class="panel-collapse collapse ">
            <div class="panel-body">
              Yes, your entry can be edited, but resubmitting the same entry may erase your accumulated Upvotes. Proofread and verify your Entry before submitting (maybe even twice) for better results.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq8"  class="accordion-toggle collapsed">
                Are there ever ties?
              </a>
            </h4>
          </div>
          <div id="faq8" class="panel-collapse collapse ">
            <div class="panel-body">
              If a sponsor deems multiple entries are of the highest quality that is at their sole discretion. Please review out Terms of Service for complete details.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq9"  class="accordion-toggle collapsed">
                How many times can I enter the same contest?
              </a>
            </h4>
          </div>
          <div id="faq9" class="panel-collapse collapse ">
            <div class="panel-body">
              The number of times you can enter a contest varies from contest to contest. Click on the “contest details” button on any individual contest’s page and you’ll find your answer.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq10"  class="accordion-toggle collapsed">
                What are the benefits of becoming a premium member?
              </a>
            </h4>
          </div>
          <div id="faq10" class="panel-collapse collapse ">
            <div class="panel-body">
              As a premium member you are eligible to enter an unlimited number of contests. You will also be eligible to enter select premium contests for the chance to win larger cash prizes.<br/> Premium membership is awesome and for only $10/month you’ll agree it’s worth every penny.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq11"  class="accordion-toggle collapsed">
                How is Premium Membership billed?
              </a>
            </h4>
          </div>
          <div id="faq11" class="panel-collapse collapse ">
            <div class="panel-body">
              User choice, monthly or annually; and of course, you can modify your selection at any time. We want to be treated like you want to be treated! We’re with you like that.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq12"  class="accordion-toggle collapsed">
                What happens to my entries into premium contests if I go back to being a free member?
              </a>
            </h4>
          </div>
          <div id="faq12" class="panel-collapse collapse ">
            <div class="panel-body">
              Your entries will remain in all contests previously entered, even those that have not yet closed.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq13"  class="accordion-toggle collapsed">
                How is copyright handled?
              </a>
            </h4>
          </div>
          <div id="faq13" class="panel-collapse collapse ">
            <div class="panel-body">
              Members own the copyright to their entries until they are declared a contest winner by the contest’s sponsor, and the rights to the winning entry are transferred over to the contest holder.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq14"  class="accordion-toggle collapsed">
                Do I need to have existing student loans to enter a contest? To win?
              </a>
            </h4>
          </div>
          <div id="faq14" class="panel-collapse collapse ">
            <div class="panel-body">
              No. All you need to enter and win is an education.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq15"  class="accordion-toggle collapsed">
                What does "original work" mean?
              </a>
            </h4>
          </div>
          <div id="faq15" class="panel-collapse collapse ">
            <div class="panel-body">
              You have to outright own what you enter into contests. No using other people’s work. Also, the entry cannot be part of another contest with a possible prize of over $250.
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
