<span class="title mt0">Invite Admin</span>
<div class="data-zone">
	<div class="field">
		<label for="">Email</label>
		<br>
		<input type="text">
	</div>
	<div class="field">
		<label for="">Name</label>
		<br>
		<input type="text">
	</div>
	<div class="actions">
		<input type="submit" value="Invite" name="commit">
	</div>
</div>