<div class="container">
	<div class="error-page">
		<h2>500 Error</h2>
		<div class="image"><%= image_tag "icn/404.png", alt: "" %></div>
		<p>We're sorry, something went wrong.</p>
		<span>Please try again later.</span>
		<a href="<%= root_path %>" class="btn btn-active">Go to the Homepage</a>
	</div>
</div>