<div class="list-type">
	<div class="container">
		<div class="col-lg-12">
			<div class="header">
				<span>Grants</span>
			</div>
			<table class="donation-table grants-table">
				<thead>
					<th>Sent</th>
					<th>Status</th>
					<th>Amount</th>
					<th>Winning Submission</th>
				</thead>
				<tbody>
          <% if @grants.empty? %>
  					<tr>
  						<td colspan="4">There are no grants to show</td>
  					</tr>
          <% else %>
            <% @grants.each do |grant| %>
              <% entry = grant.entry %>
    					<tr>
    						<td><%= grant.created_at.strftime("%m/%d/%Y %I:%M %p") %></td>
    						<td><span class="tag green">ok</span></td>
    						<td><%= number_to_currency(entry.contest.reward, precision: 0) %></td>
    						<td><a href="<%= contest_entry_path(entry.contest, entry) %>">Submission Link</a></td>
    					</tr>
            <% end %>
          <% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>