/* modal */
.modal-content {
  box-shadow: none;
  border-radius: 0px;
}
.modal-content .modal-header {
  border-bottom: none;
  height: 65px;
}
.modal-content .modal-header .close {
  font-size: 40px;
}
.modal-content .modal-body {
  padding-left: 76px;
  padding-right: 76px;
  padding-bottom: 50px;
}
.modal-content .modal-body h2 {
  margin-top: 0px;
}
.modal-content .modal-body p {
  font-size: 15px;
  font-weight: 100;
}
.modal-content .modal-body label {
  font-size: 12px;
  font-weight: 300;
  text-transform: capitalize;
}
.modal-content .modal-body .help-block {
  font-weight: 300;
}
.modal-content button {
  margin-left: 10px;
}
.modal-content button:first-child {
  margin-left: 0px;
}
