/*
 *= require bootstrap-select
 *= require bootstrap-3.3.5.min
 *= require datepicker3
 *= require jquery-ui/autocomplete
 *= require editor_gecko
 *= require layout
 *= require layout-home
 *= require layout-contest
 *= require layout-help
 *= require modal
 *= require botones
 *= require formulario
 *= require layout-about
 *= require carousel
 *= require tipografia
 *= require modal

*/
