html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.snap-content {
  position: absolute;
  background: #F8F8F8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
/*  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);*/
}

.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
/*  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;*/
}

.snap-drawer-left {
  left: 0;
  z-index: 1;
}

.snap-drawer-right {
  right: 0;
  z-index: 1;
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}

.snapnav {
  background: #4B4B4B;
}

.snapnav nav a {
  display: block;
  color: #ffffff;
  border-bottom: 1px solid #5C5C5C;
  font-family: 'Lato';
  position: relative;
  padding: 22px 25px 22px 58px;
  text-transform: uppercase;
}
  .snapnav nav a:first-child { background: #292929; padding: 31px; }
  .snapnav nav a:first-child span { top: 20px; }
  .snapnav nav a:hover {
    text-decoration: none;
    color: #C5E031;
  }

  .snapnav nav a span { position: absolute; left: 22px; }
  .snapnav nav a span.home { top: 19px; left: 22px; }
  .snapnav nav a span.donate { top: 24px; }
  .snapnav nav a span.contest { top: 20px; }
